extends ../template/layout

block content
  //Navigation
  #navigation.fixed.contain-to-grid
    nav.top-bar(data-topbar='data-topbar')
      ul.title-area
        //Title Area
        li.name
          h1
            a(href='#')
              | petedunlap.com
  //End Top Bar
  #main.row
    .large-12.columns
      //Content Slider
      .row
        .large-12.hide-for-small
          #featured(data-orbit='data-orbit', data-options="resume_on_mouseout: true; timer_speed: 3000;")
            //- data-orbit data-options="animation_speed:1500;"
            a(href='http://fix_my_cat.petedunlap.com/', target='_blank')
              img(src='/images/fix.png', alt='Grocery List Maker')
            a(href='http://grocery_list_maker.petedunlap.com/', target='_blank')
              img(src='/images/grocery.png', alt='Grocery List Maker')
            a(href='http://calendar.petedunlap.com/', target='_blank')
              img(src='/images/calendar.png', alt='Grocery List Maker')
            a(href='http://digital_droppings.petedunlap.com/', target='_blank')
              img(src='/images/digital.png', alt='Grocery List Maker')
            a(href='http://question_generator.petedunlap.com/', target='_blank')
              img(src='/images/question.png', alt='Grocery List Maker')
            a(href='http://memory.petedunlap.com/', target='_blank')
              img(src='/images/memory.png', alt='Grocery List Maker')
      //End Content Slider
      //Mobile Header
      .row
        .large-12.columns.show-for-small
          img(src='/images/question.png')
      br
      //End Mobile Header
      .row
        .large-12.columns
          .row
            //Shows
            #about_pete.large-5.small-12.columns
              h4.heading about pete
              hr
              .panel
                h6.subheader
                  | Having walked and biked the continental usa, taught physics in three and a half countries, Pete recently settled in the Nashville area where he has been studying computer science.
            //End Shows
            //Image
            #headshot.large-2.small-6.columns
              img(src='/images/headshot.png')
            //End Image
            //Feed
            #philosophy.large-5.small-12.columns
              h4.heading philosophy
              hr
              .panel
                h6.subheader
                  | Technology should make your life richer.  I'm driven by the need for simple, usable software to create applications that help you stay sane in a fast, full world.
            //End Feed
      //End Content
      //Footer
      footer.row
        .large-12.columns
          hr
          .row
            .large-6.columns
              p © Copyright 2014 Pete Dunlap.
            .large-6.small-12.columns
              ul#externals.inline-list.right
                li
                  a(href='https://github.com/peoplespete', target='_blank')
                    img(src='/images/github.png')
                li
                  a(href='http://www.linkedin.com/in/petedunlap1', target='_blank')
                    img(src='/images/linked.png')
                li
                  a(href='mailto:petedunlap@gmail.com', target='_blank')
                    img(src='/images/gmail.png')
  //-     //
  //-        End Footer
  //- script
  //-   document.write('<script src=js/vendor/' +
  //-   ('__proto__' in {} ? 'zepto' : 'jquery') +
  //-   '.js><\\/script>')
  //- script(src='js/foundation.min.js')
  //- script
  //-   $(document).foundation();
  //- //
  //-    End Footer

  //- section#topBar
  //-   .row
  //-     .small-12.columns
  //-       h1 yo i should have nav here
  //- section#main
  //-   .row
  //-     .small-12.columns
  //-       h2 stuff