extends ../template/layout1

block content
  section.main.row
    .large-12.columns
      //Content Slider
      .row
        .large-12.hide-for-small
          #featured(data-orbit='data-orbit', data-options="resume_on_mouseout: true; timer_speed: 3000;")
            a(href='https://github.com/peoplespete/FixMyCat/', target='_blank')
              img(src='/images/fix.png', alt='Fix My Cat')
            a(href='https://github.com/peoplespete/GroceryListMaker/', target='_blank')
              img(src='/images/grocery.png', alt='Grocery List Maker')
            a(href='https://github.com/peoplespete/FoodDump/', target='_blank')
              img(src='/images/food.png', alt='Food Dump')
            a(href='https://github.com/peoplespete/Calendar/', target='_blank')
              img(src='/images/calendar.png', alt='Calendar')
            a(href='/digital_droppings', target='_blank')
              img(src='/images/digital.png', alt='Digital Droppings')
            a(href='https://github.com/peoplespete/QuestionGenerator/', target='_blank')
              img(src='/images/question.png', alt='Question Generator')
            a(href='https://github.com/peoplespete/Memory/', target='_blank')
              img(src='/images/memory.png', alt='Memory')
      //End Content Slider
      //Mobile Header
      .row
        .large-12.columns.show-for-small
          img(src='/images/question.png')
      br
      //End Mobile Header
      .row
        .large-12.columns
          .row
            //Shows
            #about_pete.large-5.small-4.columns
              h4.heading about pete
              hr
              .panel
                h6.subheader
                  | After walking and biking the continental usa, and teaching physics in 3 &frac12; countries, I settled in the Nashville area where I have been studying computer science.
            //End Shows
            //Image
            #headshot.large-2.small-4.columns
              img(src='/images/headshot.png')
            //End Image
            //Feed
            #philosophy.large-5.small-4.columns
              h4.heading philosophy
              hr
              .panel
                h6.subheader
                  | Technology should make your life richer.  I'm driven by the need for simple, usable software to create applications that help you stay sane in a fast, full world.
            //End Feed
      //End Content
