//Footer
footer.row.main
  .large-12.columns
    hr
    .row
      .large-6.columns
        p © Copyright 2014 Pete Dunlap.
      .large-6.small-12.columns
        ul#externals.inline-list.right
          li
            a(href='https://github.com/peoplespete', target='_blank')
              img(src='/images/github.png')
          li
            a(href='http://www.linkedin.com/in/petedunlap1', target='_blank')
              img(src='/images/linked.png')
          li
            a(href='mailto:petedunlap@gmail.com', target='_blank')
              img(src='/images/gmail.png')
   //- End Footer
