header.hidden
  nav
    #navigation.row
      .large-12.columns
        h1
          a(href='/')
            if title == "Pete Dunlap"
              img(src='/images/header.png')
            else
              img(src='/images/header2.png')