head
  title= title
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/less/app.css")
  link(rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico")
  script(src="/javascripts/vendor/custom.modernizr.js")
  script(src="/javascripts/vendor/analytics.js")
